.add-loot {
    padding: 2%;
    font-family: 'Roboto';
}

.add-loot form {
    background-color: rgb(142, 49, 26, 0.8);
    padding: 2%;
    border-radius: 10px;
    margin: 2%;
}

.add-loot-form label {
    margin: 10px;
}

.toggle-add-loot-btn {
    padding: 1% 2%;
    background-color: #f2a828;
    border-radius: 2px;
    text-transform: uppercase;
    font: bold 12px 'Roboto';
}