.nav {
    margin: 0 auto;
}

.nav-group {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.nav-group > a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1% 2%;
    background-color: #f2a828;
    border-radius: 2px;
    font: bold 12px 'Roboto';
    color: white;
    margin: 1rem;
}
