.add-loot {
    padding: 2%;
    background-color: thistle;
    font-family: 'Roboto';
}

.add-loot-form label {
    margin: 10px;
}

.toggle-add-loot-btn {
    padding: 1% 2%;
    background-color: teal;
    border-radius: 2px;
    text-transform: uppercase;
    font: bold 12px 'Roboto';
}