.nav {
    margin: 0 auto;
}

.menu-item {
    font-family: 'Oswald';
    font-size: 1.25rem;
    color: ghostwhite;
    border: 1px solid rgb(146, 133, 233);
    border-radius: 15px;
    background-color: slateblue;
    padding: 1rem 1.5rem;
    margin: 2rem;
}