.App {
  text-align: center;
}

/*temporary styles to make it easier on the eyes while developing! */
.header {
  background-color: #5e5e5e;
  color: white;
  height: 10vh;
  padding: 4%;
  text-transform: uppercase;
}

.header  h1 {margin-top: 0px;}
.header h4 {color: #f2a828;}

.main-content {
  background-color: #bfbfbf;
  height: 90vh;
}

